#graph {
    background-color: var(--section-background);
    width: 96%;
    height: 50vh;
    padding: 2%;
}

#graph-title {
    font-weight: normal;
    font-size: 1.2rem;
}

#graph-container {
    width: 96%;
    height: 82%;
    position: relative;
    padding: 2%
}

#graph-chart {
    width: 100%;
    height: 99%;
}

#graph-labels {
    width: 100%;
    height: 1%;
    padding: 1% 0;
    border-top: solid var(--light-border-color) 1px;
}

#graph-labels ul {
    width: 100%;
    display: flex;
    display: -webkit-box; /* Old WebKit browsers */
    display: -ms-flexbox; /* IE 10 */
    justify-content: space-between;
    -webkit-box-pack: justify; /* Old WebKit browsers */
    -ms-flex-pack: justify; /* IE 10 */
    align-items: center;
    -webkit-box-align: center; /* Old WebKit browsers */
    -ms-flex-align: center; /* IE 10 */
}

#graph-labels li {
    list-style: none;
    font-size: 0.7rem;
    color: var(--sub-text-color);
}

@media screen and (min-width: 520px) {
    #graph-labels li {
        font-size: 1rem;
    }
}