#product {
    width: 96%;
    height: fit-content;
    min-height: 50vh;
    max-height: 90vh;
    position: relative;
    top: 0%;
    display: -webkit-box; /* Old WebKit browsers */
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -webkit-box-orient: vertical; /* Old WebKit browsers */
    -ms-flex-direction: column; /* IE 10 */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--section-background);
    padding: 2%;
    gap: 2%;
}

#product-image {
    width: 30%;
    min-width: 140px;
}

#product-title {
    width: 100%;
    color: var(--text-color);
    text-align: center;
    font-size: 2rem;
}

#product-subtitle {
    width: 80%;
    color: var(--sub-text-color);
    text-align: center;
    font-size: 1.2rem;
    font-weight: normal;
}

#product-tags {
    width: 90%;
    height: fit-content;
    display: -webkit-box; /* Old WebKit browsers */
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -webkit-box-orient: horizontal; /* Old WebKit browsers */
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin-top: 3%;
}

.product-tag {
    width: fit-content;
    color: var(--text-color);
    padding: 1% 5%;
    margin: 0;
    border: solid var(--light-border-color) 2px;
    border-radius: 5px;
}

@media screen and (min-width: 520px) {
    #product-image {
        width: 30%;
    }
    #product-tags {
        width: 100%;
        margin-top: 5%;
    }
}

@media screen and (min-width: 640px) {
    #product {
        width: 21%;
        height: 92%;
        position: -webkit-sticky; /* for Safari */
        position: sticky;
    }
    #product-image {
        width: 60%;
    }
}