#app {
  width: 100vw;
  height: 100vh;
  display: -webkit-box; /* Old WebKit browsers */
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -webkit-box-orient: vertical; /* Old WebKit browsers */
  -ms-flex-direction: column; /* IE 10 */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
}

#product-details {
  width: 96%;
  flex-grow: 1;
  background-color: var(--body-background);
  padding: 3% 2%;
  position: relative;
  display: -webkit-box; /* Old WebKit browsers */
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -webkit-box-orient: vertical; /* Old WebKit browsers */
  -ms-flex-direction: column; /* IE 10 */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2%;
}

#product-stats {
  width: 100%;
  min-height: 100%;
  display: -webkit-box; /* Old WebKit browsers */
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -webkit-box-orient: vertical; /* Old WebKit browsers */
  -ms-flex-direction: column; /* IE 10 */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
}

@media screen and (min-width: 640px) {
  #product-details {
    -webkit-box-orient: horizontal; /* Old WebKit browsers */
    -ms-flex-direction: row; /* IE 10 */
    flex-direction: row;
  }

  #product-stats {
    width: 75%;
  }
}